<!-- 
    Section de HTML permettant l'affichage dans une card de la liste des activités et d'un bouton appelant un formulaire pour en créer une
    Les éléments de la liste et le formulaire d'ajout sont structurés dans d'autres fichiers
-->
<div class="container activities">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="card carte border-0">
                <div class="card-body">
                    <h1 class="text-center m-5 mt-2 clair">Liste Des Activités</h1>
                    <div class="container">
                        [list]
                    </div>
                    [form]
                </div>
                <div class="card-footer bg-transparent border-0 clair me-lg-5">
                    <div class="d-flex justify-content-end me-lg-5">
                        <a class="btn bG clair call">
                            <i class="h3 bi bi-clipboard2-plus"></i>
                            Ajouter
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>