<!-- 
    Section de HTML permettant l'affichage dans une card de la liste des participants et de leurs notes ainsi qu'un bouton appelant le formulaire pour modifier
    Les éléments de la liste sont structurés dans d'autres fichiers
-->
<div class="container">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="card carte">
                <div class="card-body">
                    <div class="container clair">
                        <div class="row">
                            <div class="col-5 offset-1">
                                <span>Nom</span>
                            </div>
                            <div class="col-3">
                                <span>Note</span>
                            </div>
                            <div class="col-3">
                                <span> Modif</span>
                            </div>
                        </div>
                        [list]
                    </div>
                    <div class="card-footer bg-transparent border-0">
                        <div class="d-flex justify-content-end me-lg-5">
                            <span class="d-none nbMax">[nbMax]</span>
                            <a class="btn bG clair border-0 rating2 me-lg-4">
                                Ajouter
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>