<!-- 
    Section de HTML permettant l'affichage dans une card du détails des informations concernants un adhérent et du formulaire permettant de modifier ces informations
    Le formulaire de modification est structuré dans un autre fichier
-->
<div class="container members">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="card mb-3 carte clair">
                <div class="card-body">
                    <div class="details">
                        <h1 class="text-center mt-5">[name]</h1>
                        <p class="text-center mb-5">[age] ans - [address] [postCode] [city]</p>
                        <div class="mb-3 text-end me-lg-5 clair">
                            <a class="btn bG clair call me-lg-5">
                                <i class="h3 bi bi-person-gear"></i>
                                Modifier
                            </a>
                        </div>
                    </div>
                    [form]
                </div>
            </div>
        </div>
    </div>
</div>