<!-- 
    Section de HTML permettant l'affichage dans une card du détails des informations concernants une activité et du formulaire permettant de modifier ces informations
    Le formulaire de modification est structuré dans un autre fichier
-->
<div class="container activities">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="card mb-3 carte">
                <div class="card-body clair">
                    <div class="details">
                        <h1 class="text-center mt-3">n° [id] : [nameActivity]</h1>
                        <p class="text-center mb-2">coût : [cost] € prix : [price] €</p>
                        <div class="mb-1 text-end me-lg-5">
                            <a class="btn bG clair call me-lg-5">
                                <i class="bi bi-gear-fill h3"></i>
                                Modifier
                            </a>
                        </div>
                    </div>
                    [form]
                </div>
            </div>
        </div>
    </div>
</div>