<!-- 
    Section de HTML permettant l'affichage dans une card du détails des informations concernants une séance
-->
<div class="container attendances">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="card mb-3 carte clair">
                <div class="card-body">
                    <div class="details">
                        <h1 class="text-center mt-5">Séance n°<span class="session">[numSession]</span> - <span>[nameActivity]</span></h1>
                        <p class="text-center mb-5">[startDate] - [startTime]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>