<!-- 
    Section de HTML permettant l'affichage du formulaire permettant d'ajouter ou de modifier une activité
-->
<div class="row">
    <div class="col-8">
        <label for="member[num]">Adhérent</label>
        <select id="member[num]" name="member[num]"  class="form-control member-select" [required]>
            [options]
    </select>
    </div>
    <div class="col-3 offset-1">
        <label for="score[num]">Note</label>
        <input type="text" id="score[num]" name="score[num]" value="[score]" class="form-control">
    </div>
</div>