<!-- 
    Section de HTML permettant l'affichage dans une card d'un élément de la liste des sessions
-->
<div class="row">
    <div class="col-lg-10 offset-lg-1">
        <div class="card my-2 actiAdheEl headerCard">
            <div class="card-body py-1">
                <div class="container actiAdheEl">
                    <div class="row detailsSession">
                        <div class="col-9 col-lg-9">
                            <a href="index.php?action=detailsSession&id=[NumSession]" class="coul">[DescripSession] - [Date] [Heure]</a>
                        </div>
                        <div class="col-3 text-center [visible]">
                            <a href="index.php?action=getFormRating&count=1&[modi]">
                                <i class="bi bi-pencil-square coul"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>