<!-- 
    Section de HTML permettant l'affichage dans une card d'un élément de la liste des membres
-->
<div class="row">
    <div class="col-lg-10 offset-lg-1">
        <div class="card my-2 headerCard">
            <div class="card-body py-1">
                <div class="row">
                    <div class="col-10">
                        <a href="index.php?action=detailsMember&id=[NumMember]" class="coul">[NameMember]</a>
                    </div>
                    <div class="col-2">
                        <a href="index.php?action=deleteMember&id=[NumMember]">
                            <i class="bi bi-person-x h4 supp"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>