<!-- 
    Section de HTML permettant l'affichage dans une card de la liste des adhérents et d'un bouton appelant un formulaire pour en créer un
    Les éléments de la liste et le formulaire d'ajout sont structurés dans d'autres fichiers
-->
<div class="container members">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="card mb-5 carte border-0">
                <div class="card-body">  
                    <h1 class="text-center m-5 clair">Liste Des Adhérents</h1>
                    <div class="container">
                        [list]
                    </div>
                    [form]
                </div>
                <div class="card-footer bg-transparent border-0">
                    <div class="d-flex justify-content-end me-lg-5 clair">
                        <a class="btn bG clair border-0 call me-lg-5">
                            <i class="h3 bi bi-person-add"></i>
                            Ajouter
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>        